lighter blue: #c1f0f2
darker blue: #a4dadb
gray: #999999


@media only screen and (max-width: 480px) {
  body {
    width: 100%;
  }
}

body{
	font-family: open sans;, sans-serif;
}

body, ul {
  margin: 0;
  padding: 0;
}


nav {
	background-color: #999999;
	color: white;
	/*text-align: center;*/
	position: fixed;
	z-index: 1;
	width:  100%;
	margin-bottom: 20px;
}

img{
	max-width: 100%;
}

nav li a {
  text-decoration: none;
  color: white;
  transition: 0.3 ease-in-out;
}

nav li a:hover {
  text-decoration: underline;
  color: black;
}
nav ul li{
	list-style: none;
	text-align: center;
	display: inline-block;
}

nav ul {
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

header {
  top: 179px;
  position: relative;
  margin-bottom: 220px;
  }


header .header-center{
	top: 30%;
	position: relative;
}


header figure{
	margin: 0;	
}

section{
  position: relative;  
  background-image: url('../img/shop-now-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -120px;

}


section div figure{
	  position: relative;
	  padding: 7em;
}

section h1{
	display: block;
}

.mission{
	position: relative;  
  background-color:  #c1f0f2;
  background-repeat: no-repeat;
  background-size: cover;
  
}

