/*lighter blue: #c1f0f2
darker blue: #a4dadb
gray: #999999*/


@media only screen and (max-width: 480px) {
  body {
    width: 100%;
  }
}

body{
	font-family: 'Open Sans', sans-serif;
	color:  #999999;
}

body, ul {
  margin: 0;
  padding: 0;
}


nav {
	background-color: #999999;
	color: white;
	/*text-align: center;*/
	position: fixed;
	z-index: 1;
	width:  100%;
	margin-bottom: 20px;
}

img{
	max-width: 100%;
}

nav li a {
  text-decoration: none;
  color: white;
  transition: 0.3 ease-in-out;
}

nav li a:hover {
  text-decoration: underline;
  color: #c1f0f2;
}
nav ul li {
  display: inline-block;
  margin: 0 15px;
  /*refers to 0 top/bottm and 15px left/right */
  padding: 0;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-size: 14px;
}

nav ul {
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

li.empty {
  width: 50px;
  border-top: 0.5px solid #c1f0f2;
  top: -5px;
  position: relative;
}

.button {
  border: 1px solid #a4dadb;
  text-decoration: none;
  color: #a4dadb;
  margin-top: 30px;
  display: inline-block;
  border-radius: 20px;
  padding: 10px 30px;
  transition: background 0.5s ease-in-out;
  
}

.button:hover {
  background: #a4dadb;
  color: white;
  cursor: pointer;
}

header {
  top: 179px;
  position: relative;
  margin-bottom: 220px;
  }


header .header-center{
	top: 30%;
	position: relative;
}


header figure{
	margin: 0;	
}

.shop-now{
  position: relative;  
  background-image: url('../img/shop-now-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -120px;
	padding: 50px 50px;
}


section div figure{
 position: relative;
	  
}



.mission{
	position: relative;  
  background-color:  #c1f0f2;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.testimonials{
  position: relative;  
  background-image: url('../img/testimonials-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -120px;
	padding: 50px 50px;
}

footer {
  text-align: center;
  margin-top: 100px;
}

footer h2 {
  font-size: 30px;
  margin-bottom: 50px;
  width: 100%;
}

.right-alignment {
  text-align: right;
}

a.email-me {
  text-decoration: underline;
  color: #a4dadb;
  transition: 0.3 ease-in-out;
}

a.email-me:hover {
  text-decoration: none;
  color: #a4dadb;
  background-color: #c1f0f2
}